@model IEnumerable<SEEU.Models.Student>

@{ 
    ViewData["Title"] = "kbjalkbalkblkb";
}

<h1>Students</h1>
<a asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["sortByName"]">@Html.DisplayNameFor(model => model.FirstMidName)</a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["sortByDate"]">@Html.DisplayNameFor(model => model.EnrollmentDate)</a>
            </th>
            <td>

            </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>
                    @row.LastName
                </td>
                <td>
                    @row.FirstMidName
                </td>
                <td>
                    @row.EnrollmentDate
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@row.ID">Delete</a>
                </td>
            </tr>
        }
    <p>Ky eshte mbiemri i Diellzes: @ViewData["Mbiemri_i_Diellzes"]</p>

    </tbody>
</table>
